.DS_Store
__pycache__/
django/staticfiles/
/.env/

sam-app/bin
sam-app/pdf/bin
sam-app/pdf/wkhtmltopdf
sam-app/pdf/branca
sam-app/pdf/branca-0.5.0.dist-info
sam-app/pdf/certifi
sam-app/pdf/certifi-2022.9.24.dist-info
sam-app/pdf/charset_normalizer
sam-app/pdf/charset_normalizer-2.1.1.dist-info
sam-app/pdf/idna
sam-app/pdf/folium
sam-app/pdf/folium-0.13.0.dist-info
sam-app/pdf/idna-3.4.dist-info
sam-app/pdf/jinja2
sam-app/pdf/Jinja2-3.1.2.dist-info
sam-app/pdf/markupsafe
sam-app/pdf/MarkupSafe-2.1.1.dist-info
sam-app/pdf/pdfkit
sam-app/pdf/pdfkit-1.0.0.dist-info
sam-app/pdf/requests
sam-app/pdf/psycopg2
sam-app/pdf/requests-2.28.1.dist-info
sam-app/pdf/urllib3
sam-app/pdf/urllib3-1.26.12.dist-info